.app {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  /* justify-content: center; */
  /* font-size: calc(10px + 2vmin); */
  color: white;
  max-width: 1200px;
  margin: auto;
  /* padding: 30px; */
    a {
      color: #4cbbbb;
    }
}

body[data-theme="light"] .app {
  background-color: #282c34;
  color: white;
}

body[data-theme="dark"] .app {
  background-color: white;
  color: black;
}